.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page {
  background-image: url('../../resources/back.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.task-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  color: gray;
}

.navBar{
  margin-bottom: 60px;
}

.button-container {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: grid;
  grid-auto-rows: 60px; 
  gap: 10px; 
  justify-content: flex-end; 
}

.button {
  width: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.475);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  line-height: 60px; 
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.button:hover {
  background-color: white;
}
div#delete{
  padding-top: 12px;
}
.task-button{
  border-radius: 15%;
}
.task-button:hover{
  background-color: rgba(255, 255, 255, 0.478);
  
}











